body {
   background-color: lightblue;
   border-style: double;
   border-width: thick;
   border-radius: 2em;
   padding: 0 10em 0 10em;
   margin: 10em 10em;
}

.header {
   text-align: center;
}

/*.name are classes*/
.headline {
   font: 3.5em arial, serif;
   margin: 2em 0 0.2em 0;
}

/*# are just IDs*/
#q1input, #q2input, #q3input, #q4input {
   margin: 0.25em 0 1em 0;
   /*height: 200px*/
}

#q5input {
   margin: 0.25em 0 0 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

.conclusion {
   /*font-style: 'Playfair Display' 2em Arial, serif;*/
   font-weight: 400;
   text-align: center;
   margin: 5em 0 5em 0;
   /*font-size: 24px;*/
}
