body {
   background-color: lightblue;
   border-style: double;
   border-width: thick;
   padding: 0 10em 0 10em;
   margin: 10em 10em;
}

.header {
   text-align: center;
}
/*.name are classes*/
.headline {
   font: 3.5em arial, serif;
   margin-top: 2em;

}
/*# are just IDs*/
#q1input {
   margin: 0.25em 0 1em 0;
   /*height: 200px*/
}
